export(scAI_install_and_load)
export(scai_load_10x)
export(scai_qc_filter)
export(scai_qc_plot)
export(scai_doublets)
export(scai_normalize)
export(scai_integrate)
export(scai_dimred_cluster)
export(scai_umap_plot)
export(scai_auto_annotate)
export(scai_markers)
export(scai_score_signatures)
export(scai_signature_dotplot)
export(scai_cc_interactions_cellchat)
export(scai_cc_interactions_simple)
export(scai_report)
export(scai_pipeline)
export(scai_ambient_correct)

import(Seurat)
import(SeuratObject)
import(Matrix)
import(dplyr)
import(purrr)
import(tibble)
import(ggplot2)
import(rlang)
